.svc-main-highlight {
  margin-top: 30px;
}

.svc-main-link {
  margin: 5px 0px;
  color: white;
  text-decoration: none;
  font-size: 22px;
}

.svc-main-link:hover {
  color: orange;
}

.highlight .svc-highlight-text {
  color: white;
}

.svc-evenements li {
  color: #bbb;
}

.svc-no-margin-bottom {
  margin-bottom: 0;
}

.svc-evenement-details {
  margin-top: 0;
  padding-top: 0;
}
.svc-evenement-details p {
  color: #fff;
  margin-bottom: 0;
}

.svc-no-posts  {
  color: #fff !important;
  text-align: center;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.svc-color-light-grey {
  background-color: #555;
}

.svc-color-light-grey .svc-evenement-details a:link {
  color: white;
}

.svc-lab-title {
  color: white;
}

.svc-lab-description {
  list-style: None
}

.svc-lab-description li {
  color: white;
}

#svc-schedule {
  position: absolute;
  display: block;
  top: 25px;
  right: 80px;
  color: white;
}
section.post article {
  padding-bottom: 0;
}
