---
layout: compress
---

<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <body>
        {% include svg-icons.html %}
        {% include header-default.html %}
            <section class="content">
                {{ content }}
            </section>
        {% include scripts.html %}
      <footer class="svc-main-footer">
        <p>Affilié au <a href="https://www.crti.ift.ulaval.ca/no_cache/accueil/">Centre de relève en technologies de l'information CRTI</a></p>
      </footer>
    </body>
</html>
